.back{
  text-decoration: none;
  cursor: pointer;
}

.favorite-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* display: flex;
  flex-wrap: wrap;
  margin-top: 1rem; */
}